{% extends '::base.html.twig' %}

{% block title %}Cadem Reporte{% endblock %}

{% block filtro %}
	<form id="filtros" action="" method="post" >
		{% for form in forms %}
				{{ form_widget(form) }}
		{% endfor %}
		<input class="btn btn-primary" type="submit" value="Filtrar" />
	</form>
{% endblock %}

{% block body %}
    <div class="span9">
    <div class="row-fluid">
            <div class="span12 well">
                <!-- <span class="label">RANKING</span> -->
                <!-- <br>
                <br> -->
                <table id="tabla_resumen" class="table table-bordered display">                      
                    <thead>
                        <tr>
                            <th width='18%'>
                            CATEGORIA/CADENA
                            </th>
                            {% for item in tabla_resumen.cadenas %}
                            <th class="encabezado_tabla_resumen" width='12%'>
                                {{item}}
                            </th>
                            {% endfor %}
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td class="nivel1_tabla_resumen">
                                {{tabla_resumen.totales.nombre}}
                            </td>
                            {% for item in tabla_resumen.totales.valores %}
                                <td class="nivel1_tabla_resumen">
                                    {{item}}
                                </td>
                            {% endfor %}
                        </tr> 
                        {% for item in tabla_resumen.segmento %}
                            <tr data-tt-id="{{loop.index}}">
                                <td class="nivel2_tabla_resumen">
                                    <span class='filtrable'>
                                        {{item.nombre}}
                                    </span>
                                </td>
                                {% for item2 in item.valores %}
                                <td class="nivel2_tabla_resumen"> 
                                    {{item2}}
                                </td>
                                {% endfor %}
                            </tr>
                            {% for item3 in item.categoria %}
                            <tr data-tt-id="{{loop.parent.loop.index}}.{{loop.index}}" data-tt-parent-id="{{loop.parent.loop.index}}">
                                <td class="nivel3_tabla_resumen">
                                   <span class='filtrable'>
                                        {{item3.nombre}}
                                   </span>
                                </td>
                                {% for item4 in item3.valores %}
                                <td class="nivel3_tabla_resumen">
                                   {{item4}} 
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>                        					                   
                </table>
            </div><!--/span-->
        </div><!--/row-->         
        <div class="hero-unit" style="padding:30px">
                <!-- <h3>Indicadores</h3> -->
                <div class="row-fluid">
                {% for item in variables_clientes %}
                    <div id="i_{{item.variable.nombre}}" ></div>
                {% endfor %}					
                </div>
        </div>             
    </div><!--/span-->
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('bundles/cademreporte/css/jquery.treetable.css') }}" rel="stylesheet">		  
<link href="{{ asset('bundles/cademreporte/css/jquery.treetable.theme.default.css') }}" rel="stylesheet">		  		  
{% endblock %}

{% block customstyles %}	  
span{
	font-size: 10px;
	padding-left: 0px !important;
	}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/cademreporte/js/jquery.treetable.js') }}"></script>

<script>
{% for item in variables_clientes %}
{{"var i_"~item.variable.nombre~";"}}
{% endfor %}

$(document).ready(function () {
	
	$('span.filtrable').click(function() {
		var label= $(this).text().trim();
		
		$.get( "{{ path('resumen_evolutivo') }}", $(this).text().trim(), function(data) {	
			{% for item in variables_clientes %}
				{% if loop.index == 1 %}
					{{"i_"~item.variable.nombre}}.series[0].setData(data); 
					{{"i_"~item.variable.nombre}}.setTitle({ text: "Evolucion Quiebre '"+label +"'"});
				{% endif %}
			{% endfor %}  					
		});	
	});
	
	{% for item in variables_clientes %}
        {% if loop.index == 1 %}
		{{"i_"~item.variable.nombre}} = new Highcharts.Chart({
		chart: {    
			renderTo: 'i_{{item.variable.nombre}}',
                        type: 'line',
                        //marginRight: 130,
                        //marginBottom: 25,                                
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
                        width: 900,
                        height: 200                        
		},
		title: {
			text: 'Evolución Quiebre'
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage}%</b>',
			percentageDecimals: 1,
			enabled: true
		},
		xAxis: {
            categories: {{ periodos|raw }},
			
			labels: {
                rotation: -40
            }			
		},		
		yAxis: {
            //categories: [0,100],
			title: {
                    text: '% Quiebre'
            }
		},		
		series: [{
                    name: '% Quiebre',
                    data: {{ evolutivo }},			
                }],
		legend: {
               layout: 'vertical',
               align: 'center',
               x: 400,
               verticalAlign: 'top',
               y: 0,
               floating: true,
               backgroundColor: '#FFFFFF'
        },				
		credits: {
			enabled: false
		}
	});
        {% endif %}
	{% endfor %}   
	});
	
	
	$("#tabla_resumen").treetable({ expandable: true });	
	
	$("#tabla_resumen tbody tr").mousedown(function() {
	  $("tr.selected").removeClass("selected");
	  $(this).addClass("selected");
	});	
	
	$('#tabla_resumen tbody td img').click(function () {
   
   var segmento=$(this).parent().parent().attr('nombre');    	
   
   if($('.categoria[segmento='+segmento+']').css('display')=='none')
   {	 
       $('.categoria[segmento='+segmento+']').show();
       this.src = "{{ asset('bundles/cademreporte/images/details_close.png') }}";
   }
   else
   {	
       $('.categoria[segmento='+segmento+']').hide();       
       this.src = "{{ asset('bundles/cademreporte/images/details_open.png') }}";
   }
});

$('.categoria').hide();


 </script>
{% endblock %}