{% extends '::base.html.twig' %}

{% block title %}Cadem Reporte{% endblock %}

{% block filtro %}
	<form id="filtros" action="" method="post" >
		{% for form in forms %}
				{{ form_widget(form) }}
		{% endfor %}
		<input class="btn btn-primary" type="submit" value="Filtrar" />
		<input class="btn btn-warning" type="submit" value="Limpiar Filtros" />
	</form>
{% endblock %}

{% block body %}
    <div class="span9">
		<div class="container-fluid well" style="padding-top:0">
			<h4>Vista Evolución de Quiebres:</h4>
				<div class="hero-unit" style="padding:15px;margin-bottom:10px">
					<div class="row-fluid">
							<table id="tabla_resumen" class="table table-bordered tabla_resumen display">                      
								<thead style='position:static'>
									<tr>
										{% for item in tabla_resumen.head %}
										<th title='{{item}}'>
											{% if loop.index>2 and loop.index<tabla_resumen.head|length %}
												SEM_{{loop.index-2}}
											{% else %}	
												{{item}}
											{% endif %}	
										</th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
									{% for item in tabla_resumen.body %}
										{% set acum = 0 %}
										<tr class='{{item['categoria']|trim}} head' data-tt-id="{{loop.index}}" data-tt-parent-id="{{item['categoria']|lower}}">
											{% for item2 in item %}
											{% if loop.index > 2 %}
											<td value={{item2}} id_fil="{{loop.parent.loop.index-1}}" class='{{item['categoria']|trim}}' title="{{item['SKU']}}">  
												{{item2}}%
											</td>
											{% elseif loop.index==2 %}
											<td id_fil="{{loop.parent.loop.index-1}}" id_fil="{{loop.parent.loop.index-1}}" class='{{item['categoria']|trim}}' title="{{ item2 }}" title="{{item['SKU']}}">  
												{% if item2|replace({' ':'_'})|length>15 and loop.index==2 %}
													{{item2|replace({' ':'_'})[0:15]|upper}}...
												{% else %}
													{{item2|upper}}
												{% endif %}
											</td>
											{% else %}
											<td id_fil="{{loop.parent.loop.index-1}}" title="{{item['SKU']}}">  
												{{item2}}
											</td>
											{% endif %}
											{% set acum = acum + item2 %}
											{% endfor %}
											<td class='total'>
											{{'%.1f'|format(acum/((item|length)-2))}}%
											</td>
										</tr>
									{% endfor %}
								</tbody>                        					                   
							</table>
					</div><!--/row-->   
				</div>
					<!--div class="hero-unit" style="padding:30px">
							<div class="row-fluid">
							{% for item in variables_clientes %}
								<div id="i_{{item.variable.nombre}}" ></div>
							{% endfor %}					
							</div>
					</div-->             
				</div><!--/span-->
			</div>
		</div>
{% endblock %}

{% block customstyles %}
div.dataTables_scroll { 
	clear: both !important; 
	}

.head :nth-child(1){
	text-align: left !important;
}

td{
	text-align: center !important;
	font-size: .65em !important;
}

th{
	font-size: .6em !important;
	text-align: center !important;
}

span.indenter{
	padding-left:0em !important;
}

{% endblock %}

{% block stylesheets %}

<link href="{{ asset('bundles/cademreporte/css/demo_table.css') }}" rel="stylesheet"> 

<link href="{{ asset('bundles/cademreporte/css/jquery.treetable.css') }}" rel="stylesheet">		  
<link href="{{ asset('bundles/cademreporte/css/jquery.treetable.theme.default.css') }}" rel="stylesheet">

<link href="{{ asset('bundles/cademreporte/css/jquery.dataTables_themeroller.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/cademreporte/css/redmond/jquery-ui.min.css') }}" rel="stylesheet">

{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/cademreporte/js/jquery.dataTables.min.js') }}"></script>

<script src="{{ asset('bundles/cademreporte/js/jquery.treetable.js') }}"></script>

<!-- <script src="{{ asset('bundles/cademreporte/js/FixedColumns.js') }}"></script> -->
<script src="{{ asset('bundles/cademreporte/js/jquery-ui.min.js') }}"></script>
<script>
{% for item in variables_clientes %}
{{"var i_"~item.variable.nombre~";"}}
{% endfor %}

$(document).ready(function () {

	$('th').tooltip({
		position: {
			my: "center bottom-20",
			at: "center top",
		}
    });
	
	$('#tabla_resumen tr').click(function() {
		var label= $(this).children(':first').text().trim();

		$.get( "{{ path('resumen_evolutivo') }}", $(this).text().trim(), function(data) {	
			{% for item in variables_clientes %}
				{% if loop.index == 1 %}
					{{"i_"~item.variable.nombre}}.series[0].setData(data); 
					{{"i_"~item.variable.nombre}}.setTitle({ text: "Evolucion Quiebre '"+label +"'"});
				{% endif %}
			{% endfor %}  					
		});	
	});
	
	// var oTable = $('#tabla_resumen').dataTable( {
		// "sScrollY": "300px",
		// "sScrollX": "100%",
		// "sScrollXInner": "150%",
		// "bScrollCollapse": true,
		// "bPaginate": false,
		// "aaSortingFixed": [ [1, 'asc'] ],
		// "aoColumnDefs": [
			// { "bVisible": false, "aTargets": [0] },
		// ]
	// });
	
	oTable = $('#tabla_resumen').dataTable({
		"sScrollY": 350,
		"sScrollX": "100%",
 		//"sScrollXInner": "150%",
 		"bScrollCollapse": true,
		"bFilter": false,
		"bSort": false,
		"bInfo": false,
		"bPaginate": false,
		"bJQueryUI": true,
		"bAutoWidth": false, 
		"fnDrawCallback": function ( oSettings ) {	
			var cols=this.fnSettings().aoColumns.length-1;
			if ( oSettings.aiDisplay.length == 0 )
			{
				return;
			}
			
			var nTrs = $('#tabla_resumen tbody tr');
			var iColspan = nTrs[0].getElementsByTagName('td').length;
			//var nColumns =
			var sLastGroup = "";
			
			for ( var i=0 ; i<nTrs.length ; i++ )
			{
				var iDisplayIndex = oSettings._iDisplayStart + i;
				var sGroup = oSettings.aoData[ oSettings.aiDisplay[iDisplayIndex] ]._aData[0];
				
				if ( sGroup != sLastGroup )
				{
					var nGroup = document.createElement( 'tr' );
					
					var nCells= new Array();
					
					for(var j=0 ; j< cols ; j++)
					{
						nCells[j] = document.createElement( 'td' );
						//nCells[j].colSpan=iColspan;
						nCells[j].className = "group";
						if(j==0)
						{
							nCells[j].innerHTML = sGroup;
						}
						else
						{
							var total;
							
							$(this).children(":eq("+j+")").each(function(){
														
								total=0;
								
								$("#tabla_resumen tbody tr[data-tt-id="+i+"]").each(function(){
									total=total+parseInt($(this).text());
									//alert($(this).text());
								});
							});
							nCells[j].innerHTML = 0;
						}
						nGroup.appendChild( nCells[j] );
					}
		
					nTrs[i].parentNode.insertBefore( nGroup, nTrs[i] );
					
					var att=document.createAttribute("data-tt-id");
					att.value=sGroup.toLowerCase();
					nTrs[i].previousSibling.setAttributeNode(att);
					
					var att=document.createAttribute("class");
					att.value="parent head";
					nTrs[i].previousSibling.setAttributeNode(att);
					
					sLastGroup = sGroup;
				}
			}
		},
		"aoColumnDefs": [
			{ "bVisible": false, "aTargets": [ 0 ] },
			{ "aTargets": [ 1 ], "sClass": "head", "sWidth":'22%' },
		],
		"aaSortingFixed": [[ 0, 'asc' ]],
		"sDom": '<"H"Cfr>t<"F"ip>',
		"fnInitComplete": function () {
				var cols=this.fnSettings().aoColumns.length-1;
				this.fnAdjustColumnSizing();
				this.fnDraw();
				$('.head').tooltip({
					position: {
						my: "center bottom-20",
						at: "center top",
					}
				});			
				var totalesGlobales=new Array();
				var contGlobal=0;
				for (var i = 0; i < cols; i++) totalesGlobales[i] = 0;
				$('#tabla_resumen tbody tr.parent').each(function(){	
					var totalesParciales= new Array();
					for (var i = 0; i < cols; i++) totalesParciales[i] = 0;
					var cont=0;
					$('#tabla_resumen tbody tr[data-tt-parent-id="'+$(this).attr('data-tt-id')+'"]').each(function(){
						contGlobal++;
						var j=0;
						$(this).children().each(function(){
							if(j>0)
								totalesParciales[j-1]=totalesParciales[j-1]+parseInt($(this).attr('value'));
							j++;
						});
						cont++;
					});
					var j=0;
					$(this).children().each(function(){
						if(j>0)
						{
							$(this).text(parseFloat((totalesParciales[j-1]/cont)).toFixed(1)+'%');
							totalesGlobales[j-1]=totalesGlobales[j-1]+totalesParciales[j-1];
							//$(this).attr('value',parseFloat((totalesParciales[j-1])/7)).round(2);
						}
						j++;
					});
				});	
				var nTrs = $('#tabla_resumen tbody tr');
				var nGroup = document.createElement( 'tr' );
						
				var nCells= new Array();
						
				for(var j=0 ; j<cols ; j++)
				{
					nCells[j] = document.createElement( 'td' );
					// nCells[j].colSpan=iColspan;
					nCells[j].className = "group";				
							
					if(j==0)
					{
						nCells[j].innerHTML = "QUIEBRE GENERAL";
					}
					else
					{			
						nCells[j].innerHTML = parseFloat((totalesGlobales[j-1])/contGlobal).toFixed(1)+'%';//totales[j];
					}
					nGroup.appendChild( nCells[j] );
				}
				nTrs[0].parentNode.insertBefore( nGroup, nTrs[0] );
				var att=document.createAttribute("class");
				att.value="parent head";
				nTrs[0].previousSibling.setAttributeNode(att);			
			}
		});
	
		$('div.fg-toolbar:first').append("<h5 style='float:left;margin:0em'>Tabla Evolución Quiebre: Categoria/Sala</h5>");
	
		$("#tabla_resumen").treetable({ 
			expandable: true, 
			onNodeExpand: function () {
			}
		});	
	
		// new FixedColumns( oTable, {
		// // "iLeftColumns": 2,
		// "fnDrawCallback": function ( left, right ) {
			// var oSettings = oTable.fnSettings();
			// var cols=oTable.fnSettings().aoColumns.length-1;
			// if ( oSettings.aiDisplay.length == 0 )
			// {
				// return;
			// }

			// var nGroup, nCell, iIndex, sGroup;
			// var sLastGroup = "", iCorrector=0;
			// var nTrs = $('#tabla_resumen tbody tr');
			// var iColspan = nTrs[0].getElementsByTagName('td').length;

			// for ( var i=0 ; i<nTrs.length ; i++ )
			// {
				// iIndex = oSettings._iDisplayStart + i;
				// sGroup = oSettings.aoData[ oSettings.aiDisplay[iIndex] ]._aData[0]			;
				
				// if ( sGroup != sLastGroup )
				// {
					// /* Cells to insert into main table */
					// nGroup = document.createElement( 'tr' );
					// var nCells= new Array();
					
					// for(var j=0 ; j< cols ; j++)
					// {
						// nCells[j] = document.createElement( 'td' );
						// //nCells[j].colSpan=iColspan;
						// nCells[j].className = "group";
						// if(j==0)
						// {
							// nCells[j].innerHTML = sGroup;						
						// }
						// else
						// {
							// var total;
							
							// $(this).children(":eq("+j+")").each(function(){
														
								// total=0;
								
								// $("#tabla_resumen tbody tr[data-tt-id="+i+"]").each(function(){
									// total=total+parseInt($(this).text());
									// //alert($(this).text());
								// });
							// });
							// nCells[j].innerHTML = 0;
						// }
						// nGroup.appendChild( nCells[j] );
					// }
					// nTrs[i].parentNode.insertBefore( nGroup, nTrs[i] );

					// /* Cell to insert into the frozen columns */
					// nGroup = document.createElement( 'tr' );
					// nCell = document.createElement( 'td' );
					// nCell.className = "group";
					// nCell.innerHTML = sGroup;
					// nGroup.appendChild( nCell );
					// $(nGroup).insertBefore( $('tbody tr:eq('+(i+iCorrector)+')', left.body)[0] );

					// iCorrector++;
					// sLastGroup = sGroup;
					// }
				// }
			// }
		// });
		
		$("#tabla_resumen tbody tr").mousedown(function() {
			  $(".ui-state-active").removeClass("ui-state-active");
			  $(".row_selected").removeClass("row_selected");
			  $(this).addClass("row_selected");
		});	
		
		$('#tabla_resumen_wrapper tr th').click(function() {
			var label= $(this).text().trim();
			$('.ui-state-active').removeClass();
			$(this).addClass('ui-state-active');
			$(".row_selected").removeClass("row_selected");
			
			$.get( "{{ path('resumen_evolutivo') }}", $(this).text().trim(), function(data) {	
				{% for item in variables_clientes %}
					{% if loop.index == 1 %}
						{{"i_"~item.variable.nombre}}.series[0].setData(data); 
						{{"i_"~item.variable.nombre}}.setTitle({ text: "Evolucion Quiebre '"+label +"'"});
					{% endif %}
				{% endfor %}  					
			});	
		});
		
		//GUARDA QUE BOTON SE PRESIONA EN EL FORMULARIO
		var $boton_presionado;
		$('form#filtros input').click(function() {
			$boton_presionado = $(this);
		});
	
		//LOGICA DEL SUBMIT DEL FORMULARIO, SE DEBERIA OCUPAR AJAX
		$('form#filtros').submit(function() {
			if($boton_presionado.attr("value") === "Limpiar Filtros"){
				$('form#filtros select[multiple="multiple"] option').prop('selected',true);
			}
			if($boton_presionado.attr("value") === "Filtrar"){
				$.get( "{{ path('resumen_periodo') }}", $(this).serialize(), function(data) {
					$('#tabla_resumen tbody tr').each(function(){
						var cont=0;
						$(this).children().each(function(){
							if(cont>0)
								$(this).text(Math.floor((Math.random()*100)+1));
							cont++;
						});
					});
				{% for item in variables_clientes %}
					{% if loop.index == 1 %}
						{{"i_"~item.variable.nombre}}.series[0].setData(data.evolutivo); 
						{{"i_"~item.variable.nombre}}.setTitle({ text: "Evolucion Quiebre General"});
					{% endif %}
				{% endfor %} 
				},
				'json');
			}
		return false;
		});		
	});	
 </script>
{% endblock %}