{% extends '::base.html.twig' %}

{% block title %}Cadem Reporte{% endblock %}

{% block filtro %}
	<form id="filtros" action="" method="post" >
		{% for form in forms %}
				{{ form_widget(form) }}
		{% endfor %}
		<input class="btn btn-primary" type="submit" value="Filtrar" />
		<input class="btn btn-warning" type="submit" value="Limpiar Filtros" />
	</form>
{% endblock %}

{% block body %}
		<div class="span9">
			<div class="container-fluid well" style="padding-top:0">
				<h4>Ranking de {{estudios[0].getNombre}}</h4>
				<div class="hero-unit" style="padding:15px;margin-bottom:10px;">
						<h5 style="float:left">Ranking por Sala</h5>
						<form style="float:right" id="topbottom_sala" class="tb">
							<label class="radio inline">
							  <input type="radio" name="tb_sala" id="optionsRadios1" value="t" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="tb_sala" id="optionsRadios2" value="b">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Sala</th>
                              <th>% Quiebre ant</th>
                              <th>% Quiebre act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
							{% set rank = 1 %}
							{% for row in ranking_sala %}
                            <tr>
                              <td>{{rank}}</td>
                              <td title="{{row.calle}} {{row.numerocalle}}">[{{row.codigosala}}] {{row.calle|slice(0,35)}} {{row.numerocalle}}</td>
                              <td>{% if row.quiebre_anterior is not null %} {{row.quiebre_anterior|number_format(1)}} {% else %} NO {% endif %}</td>
                              <td>{% if row.quiebre is not null %} {{row.quiebre|number_format(1)}} {% else %} NO {% endif %}</td>
                              <td>{% if row.diferencia is not null %}
							  {{row.diferencia|number_format(1)}}
									{% if row.diferencia > 0 %}
									<div style="height:20px;display:inline">
										<img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
									<div>
									{% elseif row.diferencia < 0 %}
									<div style="height:20px;display:inline">
										<img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
									<div>
									{% else %}
									{% endif %}
							  {% else %}
							  NO
							  {% endif %}
							  
							  </td>
                            </tr>
							{% set rank = rank+1 %}
							{% endfor %}
                          </tbody>
                        </table>
					
				</div>
				<div class="hero-unit" style="padding:15px;margin-bottom:10px">
					<h5 style="float:left">Ranking por Producto</h5>
						<form style="float:right" id="topbottom_producto" class="tb">
							<label class="radio inline">
							  <input type="radio" name="tb_producto" id="optionsRadios1" value="t" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="tb_producto" id="optionsRadios2" value="b">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Producto</th>
                              <th>% Quiebre ant</th>
                              <th>% Quiebre act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% set rank = 1 %}
							{% for row in ranking_item %}
                            <tr>
                              <td>{{rank}}</td>
                              <td title="{{row.nombre}}">[{{row.codigoitem}}] {{row.nombre|slice(0,42)}}</td>
                              <td>{% if row.quiebre_anterior is not null %} {{row.quiebre_anterior|number_format(1)}} {% else %} NO {% endif %}</td>
                              <td>{% if row.quiebre is not null %} {{row.quiebre|number_format(1)}} {% else %} NO {% endif %}</td>
                              <td>{% if row.diferencia is not null %}
							  {{row.diferencia|number_format(1)}}
									{% if row.diferencia > 0 %}
									<div style="height:20px;display:inline">
										<img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
									<div>
									{% elseif row.diferencia < 0 %}
									<div style="height:20px;display:inline">
										<img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
									<div>
									{% else %}
									{% endif %}
							  {% else %}
							  NO
							  {% endif %}
							  
							  </td>
                            </tr>
							{% set rank = rank+1 %}
							{% endfor %}
                          </tbody>
                        </table>
				</div>
                <div class="hero-unit" style="padding:15px;margin-bottom:10px">
					<h5 style="float:left">Ranking por Empleado</h5>
						<form style="float:right" id="topbottom_empleado" class="tb">
							<label class="radio inline">
							  <input type="radio" name="tb_empleado" id="optionsRadios1" value="t" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="tb_empleado" id="optionsRadios2" value="b">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Empleado</th>
                              <th>% Quiebre ant</th>
                              <th>% Quiebre act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% set rank = 1 %}
							{% for row in ranking_empleado %}
                            <tr>
                              <td>{{rank}}</td>
                              <td>{{row.nombre}}</td>
                              <td>{% if row.quiebre_anterior is not null %} {{row.quiebre_anterior|number_format(1)}} {% else %} NO {% endif %}</td>
                              <td>{% if row.quiebre is not null %} {{row.quiebre|number_format(1)}} {% else %} NO {% endif %}</td>
                              <td>{% if row.diferencia is not null %}
							  {{row.diferencia|number_format(1)}}
									{% if row.diferencia > 0 %}
									<div style="height:20px;display:inline">
										<img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
									<div>
									{% elseif row.diferencia < 0 %}
									<div style="height:20px;display:inline">
										<img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
									<div>
									{% else %}
									{% endif %}
							  {% else %}
							  NO
							  {% endif %}
							  
							  </td>
                            </tr>
							{% set rank = rank+1 %}
							{% endfor %}
                          </tbody>
                        </table>
				</div>
			</div>
			
			<!-- <div class="container-fluid well" style="padding-top:0">
				<h4>Estudio Cobertura</h4>
				<div class="hero-unit" style="padding:15px;margin-bottom:10px">
                    <h5 style="float:left">Ranking por Sala</h5>
						<form style="float:right">
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Sala</th>
                              <th>% Cobertura ant</th>
                              <th>% Cobertura act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Lider 123</td>
                              <td>3</td>
                              <td>15</td>
                              <td>12
							  <div style="height:20px;display:inline">
								  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div>
							  </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Jumbo 234</td>
                              <td>45</td>
                              <td>85</td>
                              <td>40 <div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Santa Isabel 657</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                          </tbody>
                        </table>
				</div>
				<div class="hero-unit" style="padding:15px;margin-bottom:10px">
					<h5 style="float:left">Ranking por Producto</h5>
						<form style="float:right">
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Producto</th>
                              <th>% Cobertura ant</th>
                              <th>% Cobertura act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Yoghurt A</td>
                              <td>3</td>
                              <td>15</td>
                              <td>12
							  <div style="height:20px;display:inline">
								  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div>
							  </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Yoghurt B</td>
                              <td>45</td>
                              <td>85</td>
                              <td>40 <div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Yoghurt C</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                          </tbody>
                        </table>
				</div>
                <div class="hero-unit" style="padding:15px;margin-bottom:10px">
					<h5 style="float:left">Ranking por Vendedor</h5>
						<form style="float:right">
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Vendedor</th>
                              <th>% Cobertura ant</th>
                              <th>% Cobertura act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Juan Perez</td>
                              <td>3</td>
                              <td>15</td>
                              <td>12
							  <div style="height:20px;display:inline">
								  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div>
							  </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Juan Junior</td>
                              <td>45</td>
                              <td>85</td>
                              <td>40 <div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Juan Antonio</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                          </tbody>
                        </table>
				</div>
			</div> -->
            
        </div><!--/span-->
{% endblock %}

{% block customstyles %}
.hero-unit{
	background-color:white;
	font-size: inherit;
	line-height: inherit;
}

.hero-unit select{
	width: auto;
	padding: 0;
	margin-bottom: 0;
}

.hero-unit input{
	width: auto;
	padding: 0;
	margin-bottom: 0;
}

.hero-unit label{
	margin-bottom: 0;
}

{% endblock %}

{% block stylesheets %}
	
	<link href="{{ asset('bundles/cademreporte/css/jquery.dataTables_themeroller.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	
	<script src="{{ asset('bundles/cademreporte/js/jquery.dataTables.min.js') }}"></script>
<script>

var oTables = [];

var fechaup = '<div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div>';
var fechadown = '<div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem"><div>';
$(document).ready(function () {
	
	var lang_es = {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			};
	
	
	
	$('.datatable').each(function( index ) {
		var $this = $(this);
		var h5 = $this.prev().prev();
		var form = $this.prev();
		form.children('label').css('padding-top','0');
		var d = $this.dataTable({
			"bJQueryUI": true,
			"sPaginationType": "full_numbers",
			"oLanguage": lang_es,
			"bLengthChange" : false,
			"bInfo": false,
			"bPaginate": false,
			"aoColumnDefs": [
			  { "sClass": "text-center", "aTargets": [ 2,3,4 ] }
			],
			"sDom": '<"H"<"toolbar">Cfr>t<"F"ip>',
			"bAutoWidth": true
		});
		
		$this.prev().find('div.toolbar').append(h5.css({'margin':'0', 'float':'left'}));
		$this.prev().find('div.toolbar').after(form.css({'margin':'0', 'float':'left', 'margin-left':'20px'}));
		oTables.push(d);
	});

	//GUARDA QUE BOTON SE PRESIONA EN EL FORMULARIO
	var $boton_presionado;
	$('form#filtros input').click(function() {
		$boton_presionado = $(this);
	});

	//FORMULARIO
	$('form#filtros').submit(function(event) {
		if($boton_presionado.attr("value") === "Limpiar Filtros"){
			$('form#filtros select[multiple="multiple"] option').prop('selected',true);
			$('#f_region_Region').change();
		}
		else procesarform();
		return false;
	});
	
	$("form.tb").change(function(){
		$(this).after('<img class="loader" alt="" style="float:left;margin-left:20px" src="/bundles/cademreporte/images/loader-minitrans.gif">');
		procesarform();
	});
	
	//REGION
	$(document).on('change', '#f_region_Region', function(){
		//RECARGAR PROVINCIA
		var datos = $(this).serialize();
		$('#f_provincia_Provincia').before('<img class="loader" alt="" style="float:right" src="/bundles/cademreporte/images/loader.gif">');
		$.get( "{{ path('helper_filtro_region') }}", datos, function(data) {
			$('#f_provincia').html(data);
		},'html')
		.done(function() {quitarloader(); $('#f_provincia_Provincia').change();})
		.fail(function() { alert("Se produjo un error al cargar las provincias");quitarloader();})
		.always(function() { /*alert("finished");*/});
	});
	
	//PROVINCIA
	$(document).on('change', '#f_provincia_Provincia', function(){
		//RECARGAR COMUNA
		var datos = $(this).serialize();
		$('#f_comuna_Comuna').before('<img class="loader" alt="" style="float:right" src="/bundles/cademreporte/images/loader.gif">');
		$.get( "{{ path('helper_filtro_provincia') }}", datos, function(data) {
			$('#f_comuna').html(data);
		},'html')
		.done(function() { /*alert("second success");*/ })
		.fail(function() { alert("Se produjo un error al cargar las comunas"); })
		.always(function() { /*alert("finished");*/ quitarloader();});
	});
	
});


	//LOGICA DEL SUBMIT DEL FORMULARIO, SE DEBERIA OCUPAR AJAX
	function procesarform(){
		//AGREGO INFO TOPBOTTOM
		var dataform = $('form#filtros').serialize();
		var topbottom_empleado = $('#topbottom_empleado').serialize();
		var topbottom_producto = $('#topbottom_producto').serialize();
		var topbottom_sala = $('#topbottom_sala').serialize();
		var senddata = dataform + "&" + topbottom_empleado + "&" + topbottom_producto + "&" + topbottom_sala;
		
		$('form#filtros input').last().after('<img class="loader" alt="" style="float:right" src="/bundles/cademreporte/images/loader.gif">');
		$.get( "{{ path('ranking_filtros') }}", senddata, function(data) {
				//RANKING SALAS
				oTables[0].fnClearTable();
				var row = data.ranking_sala;
				var cont = 1;
				for(var i in row)
				{
					oTables[0].fnAddData([
						cont,
						"["+row[i].codigosala+"] "+row[i].calle.substring(0, 35)+" "+row[i].numerocalle,
						(row[i].quiebre_anterior != null)?parseFloat(row[i].quiebre_anterior).toFixed(1):"NO",
						(row[i].quiebre != null)?parseFloat(row[i].quiebre).toFixed(1):"NO",
						(row[i].diferencia != null)?parseFloat(row[i].diferencia).toFixed(1)+(
						(parseFloat(row[i].diferencia) > 0)?fechaup:(parseFloat(row[i].diferencia) < 0)?fechadown:""
						):"NO"
					]);
					cont++;
				}
				oTables[0].fnAdjustColumnSizing();
				//RANKING ITEM
				oTables[1].fnClearTable();
				var row = data.ranking_item;
				var cont = 1;
				for(var i in row)
				{
					oTables[1].fnAddData([
						cont,
						"["+row[i].codigoitem+"] "+row[i].nombre.substring(0, 42),
						(row[i].quiebre_anterior != null)?parseFloat(row[i].quiebre_anterior).toFixed(1):"NO",
						(row[i].quiebre != null)?parseFloat(row[i].quiebre).toFixed(1):"NO",
						(row[i].diferencia != null)?parseFloat(row[i].diferencia).toFixed(1)+(
						(parseFloat(row[i].diferencia) > 0)?fechaup:(parseFloat(row[i].diferencia) < 0)?fechadown:""
						):"NO"
					]);
					cont++;
				}
				oTables[1].fnAdjustColumnSizing();
				//RANKING EMPLEADO
				oTables[2].fnClearTable();
				var row = data.ranking_empleado;
				var cont = 1;
				for(var i in row)
				{
					oTables[2].fnAddData([
						cont,
						row[i].nombre,
						(row[i].quiebre_anterior != null)?parseFloat(row[i].quiebre_anterior).toFixed(1):"NO",
						(row[i].quiebre != null)?parseFloat(row[i].quiebre).toFixed(1):"NO",
						(row[i].diferencia != null)?parseFloat(row[i].diferencia).toFixed(1)+(
						(parseFloat(row[i].diferencia) > 0)?fechaup:(parseFloat(row[i].diferencia) < 0)?fechadown:""
						):"NO"
					]);
					cont++;
				}
				oTables[2].fnAdjustColumnSizing();
			},
		'json')
		.done(function() {})
		.fail(function() { alert("Se produjo un error al cargar las tablas de ranking");})
		.always(function() { quitarloader();});
	}
	
	function quitarloader(){
		if($('.loader').length > 0) $('.loader').remove();
	}

 </script>
{% endblock %}