{% extends '::base.html.twig' %}

{% block title %}Cadem Reporte{% endblock %}

{% block filtro %}
	<form id="filtros" action="" method="post" >
		{% for form in forms %}
				{{ form_widget(form) }}
		{% endfor %}
		<input class="btn btn-primary" type="submit" value="Filtrar" />
		<input class="btn btn-warning" type="submit" value="Limpiar Filtros" />
	</form>
{% endblock %}

{% block body %}
		<div class="span9">
			<div class="container-fluid well" style="padding-top:0">
				<h4>Estudio Quiebre y precio</h4>
				<div class="hero-unit" style="padding:15px;margin-bottom:10px;">
						<h5 style="float:left">Ranking por Sala</h5>
						<form style="float:right">
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Sala</th>
                              <th>% Quiebre ant</th>
                              <th>% Quiebre act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Lider 123</td>
                              <td>3</td>
                              <td>15</td>
                              <td>12
							  <div style="height:20px;display:inline">
								  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div>
							  </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Jumbo 234</td>
                              <td>45</td>
                              <td>85</td>
                              <td>40 <div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Santa Isabel 657</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>Santa Isabel 234</td>
                              <td>40</td>
                              <td>12</td>
                              <td>-28 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                            <tr>
                              <td>5</td>
                              <td>Santa Isabel 73</td>
                              <td>23</td>
                              <td>22</td>
                              <td>-1 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                            <tr>
                              <td>6</td>
                              <td>Santa Isabel 8563</td>
                              <td>23</td>
                              <td>30</td>
                              <td>7 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                          </tbody>
                        </table>
					
				</div>
				<div class="hero-unit" style="padding:15px;margin-bottom:10px">
					<h5 style="float:left">Ranking por Producto</h5>
						<form style="float:right">
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Producto</th>
                              <th>% Quiebre ant</th>
                              <th>% Quiebre act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Yoghurt A</td>
                              <td>3</td>
                              <td>15</td>
                              <td>12
							  <div style="height:20px;display:inline">
								  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div>
							  </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Yoghurt B</td>
                              <td>45</td>
                              <td>85</td>
                              <td>40 <div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Yoghurt C</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                              <td>4</td>
                              <td>Yoghurt D</td>
                              <td>230</td>
                              <td>12</td>
                              <td>-111 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                              <td>5</td>
                              <td>Yoghurt F</td>
                              <td>24</td>
                              <td>26</td>
                              <td>2 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                              <td>6</td>
                              <td>Yoghurt G</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                          </tbody>
                        </table>
				</div>
                <div class="hero-unit" style="padding:15px;margin-bottom:10px">
					<h5 style="float:left">Ranking por Vendedor</h5>
						<form style="float:right">
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Vendedor</th>
                              <th>% Quiebre ant</th>
                              <th>% Quiebre act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Juan Perez</td>
                              <td>3</td>
                              <td>15</td>
                              <td>12
							  <div style="height:20px;display:inline">
								  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div>
							  </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Juan Junior</td>
                              <td>45</td>
                              <td>85</td>
                              <td>40 <div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Juan Antonio</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                          </tbody>
                        </table>
				</div>
			</div>
			
			<div class="container-fluid well" style="padding-top:0">
				<h4>Estudio Cobertura</h4>
				<div class="hero-unit" style="padding:15px;margin-bottom:10px">
                    <h5 style="float:left">Ranking por Sala</h5>
						<form style="float:right">
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Sala</th>
                              <th>% Cobertura ant</th>
                              <th>% Cobertura act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Lider 123</td>
                              <td>3</td>
                              <td>15</td>
                              <td>12
							  <div style="height:20px;display:inline">
								  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div>
							  </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Jumbo 234</td>
                              <td>45</td>
                              <td>85</td>
                              <td>40 <div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Santa Isabel 657</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                          </tbody>
                        </table>
				</div>
				<div class="hero-unit" style="padding:15px;margin-bottom:10px">
					<h5 style="float:left">Ranking por Producto</h5>
						<form style="float:right">
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Producto</th>
                              <th>% Cobertura ant</th>
                              <th>% Cobertura act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Yoghurt A</td>
                              <td>3</td>
                              <td>15</td>
                              <td>12
							  <div style="height:20px;display:inline">
								  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div>
							  </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Yoghurt B</td>
                              <td>45</td>
                              <td>85</td>
                              <td>40 <div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Yoghurt C</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                          </tbody>
                        </table>
				</div>
                <div class="hero-unit" style="padding:15px;margin-bottom:10px">
					<h5 style="float:left">Ranking por Vendedor</h5>
						<form style="float:right">
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							  Top
							</label>
							<label class="radio inline">
							  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							  Bottom
							</label>
						</form>
					
						<table class="datatable">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Vendedor</th>
                              <th>% Cobertura ant</th>
                              <th>% Cobertura act</th>
                              <th>Ptos Dif</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Juan Perez</td>
                              <td>3</td>
                              <td>15</td>
                              <td>12
							  <div style="height:20px;display:inline">
								  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem">
							  <div>
							  </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Juan Junior</td>
                              <td>45</td>
                              <td>85</td>
                              <td>40 <div style="height:20px;display:inline"><img style="height:inherit" src="{{ asset('bundles/cademreporte/images/up_arrow.png') }}" alt="Cadem"><div></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Juan Antonio</td>
                              <td>23</td>
                              <td>12</td>
                              <td>-11 <div style="height:20px;display:inline">
							  <img style="height:inherit" src="{{ asset('bundles/cademreporte/images/down_arrow.png') }}" alt="Cadem">
							  <div></td>
                            </tr>
                          </tbody>
                        </table>
				</div>
			</div>
            
        </div><!--/span-->
{% endblock %}

{% block customstyles %}
.hero-unit{
	background-color:white;
	font-size: inherit;
	line-height: inherit;
}

.hero-unit select{
	width: auto;
	padding: 0;
	margin-bottom: 0;
}

.hero-unit input{
	width: auto;
	padding: 0;
	margin-bottom: 0;
}

.hero-unit label{
	margin-bottom: 0;
}

{% endblock %}

{% block stylesheets %}
	
	<link href="{{ asset('bundles/cademreporte/css/jquery.dataTables_themeroller.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	
	<script src="{{ asset('bundles/cademreporte/js/jquery.dataTables.min.js') }}"></script>
<script>


$(document).ready(function () {
	
	var lang_es = {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			};
	
	var oTables = [];
	
	$('.datatable').each(function( index ) {
		var $this = $(this);
		var h5 = $this.prev().prev();
		var form = $this.prev();
		form.children('label').css('padding-top','0');
		var d = $this.dataTable({
			"bJQueryUI": true,
			"sPaginationType": "full_numbers",
			"oLanguage": lang_es,
			"bLengthChange" : false,
			"bInfo": false,
			"bPaginate": false,
			"aoColumnDefs": [
			  { "sClass": "text-center", "aTargets": [ 2,3,4 ] }
			],
			"sDom": '<"H"<"toolbar">Cfr>t<"F"ip>'
		});
		$this.prev().find('div.toolbar').append(h5.css({'margin':'0', 'float':'left'}));
		$this.prev().find('div.toolbar').after(form.css({'margin':'0', 'float':'left', 'margin-left':'20px'}));
		oTables.push(d);
	});

	//GUARDA QUE BOTON SE PRESIONA EN EL FORMULARIO
	var $boton_presionado;
	$('form#filtros input').click(function() {
		$boton_presionado = $(this);
	});

	//LOGICA DEL SUBMIT DEL FORMULARIO, SE DEBERIA OCUPAR AJAX
	$('form#filtros').submit(function(event) {
		if($boton_presionado.attr("value") === "Limpiar Filtros"){
			$('form#filtros select[multiple="multiple"] option').prop('selected',true);
		}
	
		// $.get( "{#{ path('dashboard_indicadores') }#}", $(this).serialize(), function(data) {
				
				
			// },
		// 'json');
		
		
		return false;
	});
	
	
	
	
	
});
 </script>
{% endblock %}